@import "mixins";
@import "responsive";
@import "basic";
@import "plugins";
@import "typography";
@import "color";
@import "spacing";
@import "buttons";
@import "budge";
@import "header/header";
@import "card";
@import "hero";
@import "infographic";
@import "form";
@import "filter";
@import "filter_xl";
@import "blog";
@import "testimonial";
@import "tabs";
@import "faqs";
@import "chart";
@import "table";
@import "pagination";
@import "page";
@import "details-page";
@import "footer";

/* Adding New block of text... */

.more-content {
  margin-bottom: 33px;
  max-width: 87%;
}

.more-content .paras- {
  max-height: 0px;
  overflow: hidden;
  color: #6b7380;
  font-weight: normal;
  display: none;
  overflow: hidden;
}

.more-content .paras-.more {
  display: block;
  display: unset;
}

.more-content p,
.more-content .dots {
  font-size: 16px;
  line-height: 21px;
  color: #6b7380;
  font-weight: normal;
}

.more-content p:last-of-type {
  margin-bottom: 0;
}

.more-content p span {
  font-weight: 600;
  color: #743393;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .more-content {
    max-width: 85%;
  }
  .more-content p,
  .more-content .dots {
    font-size: 14px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 1199px) {
  .more-content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 33px;
    text-align: center;
  }
  .more-content p,
  .more-content .dots {
    font-size: 16px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 767px) {
  .more-content {
    margin-bottom: 14px;
    max-width: 93%;
  }
}

/* _budge.scss 17 */

.badge-primary,
.badge-success {
  background-color: #743393;
  color: #fff;
  font-weight: 600;
  &:hover {
    color: #fff;
  }
}

.badge-success {
  background-color: green;
}

/* _card.scss 45 */

.badge-primary,
.badge-success {
  top: 12px;
}
